/* 
    Common CSS styles for all the files begins
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    background-color: #fff;
    font-family: 'Roboto';
    margin: 0px;
}

/* 
    Common CSS styles for all the files ends
*/



/* 
    CSS styles for Login and Signup pages begins
*/
#container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 150px auto 100px;
    grid-gap: 5px;

    /* vh: viewport height */
    min-height: 100vh;
}


#header-auth {
    background-color: #004F2E;
    color: white;
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    justify-items: center;
    align-items: center;
}

header h1 {
    font-size: 4em;
    margin: 0;
    justify-self: center;
    align-self: center;
}


#main-center {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
}


#footer-auth {
    background-color: black;
    
    color: white;
    text-align: center;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.auth-form {
    margin-top: 60px;
    border: 3px grey solid;

    border-radius: 10px;
    padding: 2em;
}

.form-input-grid {
    display: grid;
    grid-template-columns: auto 200px;
    row-gap: 10px;
    column-gap: 10px;
}


.align-right {
    text-align: right;
}

#submit-button {
    margin-top: 20px;
    padding: .5em 1em;
}

.form-note {
    margin-left: 35px;
}

.footer-text {
    margin-top: 35px;
    font-size: 20px;
}

/* 
    CSS styles for Login and Signup pages ends
*/


/* 
    CSS styles for loginHistory.html begins
*/
#container-login-history {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 150px auto 100px;
    grid-gap: 5px;

    min-height: 100vh;
}

#header-login-history {
    background-color: #004F2E;
    color: white;
    grid-column: 1/5;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center;
    justify-items: center;
}


#user-info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}

#login-sessions {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}


#footer-login-history {
    background-color: black;
    color: white;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.button-style-link-1 {
    font-size: 15px;
    color: white;
    background-color: #009A44;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    padding: 7px;
}

#header-login-history h1 {
    font-size: 4em;
    margin: 0;
}

.button-style-link-2 {
    font-size: 15px;
    color: black;
    border: 2px solid grey;
    border-radius: 5px;
    text-decoration: none;
    padding: 7px;
}


img {
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 10px;
}

h2, h3, h4, h5, h6 {
    color: #009A44;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

section {
    color: #34495E;
}

img {
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 10px;
}

aside {
    width: 100%;
}

#user-data {
    padding: 0px 0px 30px 20px;
    margin: 20px 0px;
    border: 1px solid #dedede;
    border-radius: 10px;
}

.session {
    margin: 10px 0px;
    border: 1px solid #dedede;
    border-radius: 10px;
    color: #34495E;
    margin-left: 17px;
    padding-left: 10px;
}

/* 
    CSS styles for loginHistory.html ends
*/


/* 
 *  CSS for DOM Manipulation Starts
 *   
 *   Add your STYLES below
 */


/* To Do 5a: Add a class style to make the border of an input red if it has that class  */
.highlight
{
    border: 2px red solid;
}



/* To Do 5b: Add a class style to define the appearance of error messages  */
.error-text
{
    color: red;
    font-style: italic;
    text-align: right;
}



/* To Do 6: Add a class style that sets visibility to hidden if an element has that class  */
.hidden
{
    visibility: hidden;
}



/* CSS for DOM Manipulation Ends*/