/*Login*/
body {
  margin: 0px;
  font-family: sans-serif;
}

h1 {
  font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  color: white;
}

#subtext {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  letter-spacing: 2px;
}

#avatar1 {
  border-radius: 50%;
}

#user1 {
  color: white;
  font-size: medium;
  font-weight: bold;
}

#container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 150px auto 100px;
  grid-gap: 10px;
  min-height: 100vh;
}


#header-auth {
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: #0b171c;
  padding: 0.4em;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  margin: 0px;
}


#main-center {
  grid-row: 2/3;
  grid-column: 2/3;
  margin-top: 200px;
}

#login-header {
  display: flex;
  justify-content: center;
  margin-top: 1;
}

#footer-auth {
  background-color: #0b171c;

  color: white;
  text-align: center;

  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

#auth-form {
  margin-top: 90px;
  border: 2px solid #004F2E;
  border-radius: 10px;
  padding: 2em;
}

#form-input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

#align-right {
  text-align: right;
}

input[type=submit] {
  padding: 0.5em;
  margin: 10px;
}

#form-note {
  display: flex;
  justify-content: center;
  grid-column: 2/3;
}

#footer-text {
  margin-top: 35px;
  font-size: 20px;
}

#recent {
  grid-column: 3/4;
  grid-row: 2/3;
  padding: 2em;
}

#side-header {
  display: flex;
  justify-content: center;
}

#posts {
  margin: 10px 0px;
  border: 1px solid #dedede;
  border-radius: 10px;
  color: #34495E;
  margin-left: 10px;
  padding-left: 10px;

  display: grid;
  grid-template-columns: 2fr 1fr
}

#container-manage {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-gap: 20px;
}


/*Blog management*/
#manage-logo {
  grid-column: 1/4;
  grid-row: 1/2;
  background-color: #0b171c;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
}

#manage-logout {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
}

#user-text {
  grid-row: 2/3;
}

#user-text {
  grid-row: 2/3;
}

#manage-menu {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 1.1em;
}

#manage-main {
  grid-column: 2/3;
  grid-row: 2/3;

  display: grid;
  grid-template-rows: 0.2fr 3fr 3fr;
  grid-gap: 5px;
}

#manage-header {
  grid-row: 1/2;
}

#manage-post-header {
  display: flex;
  justify-content: center;
}

#sort {
  grid-row: 1/2;
  text-align: right;
}

#manage-post {
  grid-row: 2/3;
  border: 2px solid black;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  margin: 1px;
}

#post-1 {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#image-1 {
  grid-column: 1/2;
  border: 2px solid black;
  margin: 1;
}

#content-1 {
  grid-column: 2/3;
  border: 2px solid black;
  margin: 1;
}

#details-1 {
  grid-column: 3/4;
  border: 2px solid black;
  margin: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#vote-block {
  grid-column: 1/2;
  border: 2px solid black;
  margin: 2px;
  display: inline-block;
  text-align: center;
  width: 50px;
}

#upvote,
#downvote {
  font-size: 40px;
  cursor: pointer;
  color: black;
}

#vote-count {
  font-size: 25px;
  margin: 10px 0;
}

#upvote:hover {
  color: green;
}

#downvote:hover {
  color: red;
}

#options-1 {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  padding: 10px;
}

#comments-section {
  grid-row: 2/3;
  border: 2px solid black;
  margin: 1px;
}

.comment-section {
  width: 600px;
  margin: 5px;
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.comment-avatar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.comment-content {
  margin-left: 15px;
  flex-grow: 1;
}

.comment-header {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-text {
  color: #333;
}

.comment-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vote-block {
  display: flex;
  flex-direction: row;
  /* Horizontal layout */
  align-items: center;
  gap: 10px;
  /* Add spacing between the upvote, count, and downvote */
}

.upvote,
.downvote {
  font-size: 24px;
  cursor: pointer;
  color: gray;
}

.vote-count {
  font-size: 18px;
  color: #555;
}

.upvote:hover {
  color: green;
}

.downvote:hover {
  color: red;
}

#manage-post2 {
  grid-row: 3/4;
  border: 2px solid black;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
}

#footer-manage {
  grid-row: 3/4;
  grid-column: 1/3;
  background-color: #0b171c;
  color: white;
  text-align: center;
  margin: 0px;
}

/*Signup Page*/
#signup-page {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 100px auto 100px;
  min-height: 50vh;
  max-height: 100vh;
}

#signup-form {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
}

#signup-header {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.signup-form-border {
  margin: 60px;
  max-width: 500px;
  min-width: 100px;
  border: 2px solid #004F2E;
  border-radius: 10px;
  padding: 2em;

}

.form-input-grid-1 {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px 15px;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: stretch;
}

#signlogo {
  display: block;
}

.align-right-1 {
  text-align: right;
  margin-top: 20px;
}

.submit-button {
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #45bbff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.login-button {
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #45bbff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#footer-auth-1 {
  background-color: black;

  color: white;
  text-align: center;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.form-note-1 {
  margin-left: auto;
  padding: 10px;
  grid-column: 1/2;
  grid-row: 3/4;

  display: flex;
  justify-content: left;
}

.footer-text {
  margin-top: 35px;
  font-size: 20px;
}

h1 {
  font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  color: white;
}

/*Home Page*/

.navbar {

  background-color: #333;
  width: 100%;


}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: #575757;
}


section {
  padding: 60px 20px;
  margin-top: 50px;
}

#main-page {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 100px auto 100px;
  min-height: 50vh;
  max-height: 100vh;
}

#main-page-content-grid {
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#left-column {
  display: grid;
  grid-template-rows: 100px 200px 500px 500px;
  grid-gap: 25px;
  border: 1px solid #ccc;
  padding: 1em;
}

#element-1 {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 3em;
}

#element-2 {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  padding: 10px;
}

#element-2-col1 {
  min-width: 50px;
  max-width: 150px;
  background-color: #f0f0f0;
  padding: 10px;
}

#element-2-col2 {
  background-color: #ffffff;
  padding: 10px;
}

#blog-post-body {

  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.blog-post-container {
  grid-row: 3/4;
  grid-column: 1/2;
  display: grid;
  width: 80%;

  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-post-container h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #333;
}

.blog-textarea {
  width: 92%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  margin-bottom: 15px;
}

.post-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0px;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}

.post-button:hover {
  background-color: #0056b3;
}

#recent-1 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 20px;
  border: 1px solid #ccc;
  padding: 1em;
}

#side-header {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
}


#footer-home {
  background-color: #0b171c;

  color: white;
  text-align: center;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer-home-text {
  margin-top: 35px;
  font-size: 20px;
}

/*Blog Creation Page*/
#main-center-2 {
  grid-row: 2/3;
  grid-column: 2/3;
}

#container-2 {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 150px auto 100px;
  grid-gap: 10px;
  min-height: 100vh;
}


.wrapper-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-gap: 20px;
}

.header-main {
  grid-column: 1/4;
  grid-row: 1/2;
  background-color: #0b171c;
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr;
  padding: 10px;
  align-items: center;
  color: white;
}

.user-auth-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.main-content {
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer-bar {
  grid-row: 3/4;
  grid-column: 1/4;
  background-color: #0b171c;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Blog Content Box */
.content-box {
  border: 1px solid #dedede;
  border-radius: 8px;
  padding: 20px;
  background-color: #f4f4f4;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.image-wrapper img {
  border: 1px solid #dedede;
  border-radius: 5px;
}

.text-box {
  margin-top: 15px;
}

/* Voting Section */
.vote-container {
  text-align: center;
}

.vote-icon,
.vote-count-new {
  font-size: 25px;
  cursor: pointer;
  color: #34495e;
}

.vote-icon:hover {
  color: green;
}

.downvote-icon:hover {
  color: red;
}

.vote-count-new {
  font-size: 25px;
  color: #34495e;
}

/* Comments Section */
.comment-box {
  border: 1px solid #dedede;
  border-radius: 8px;
  padding: 20px;
  background-color: #f4f4f4;
}

.comment-wrapper {
  border-top: 1px solid #dedede;
  margin-top: 20px;
}

.comment-item {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid #dedede;
}

.comment-avatar-new img {
  border-radius: 50%;
}

.comment-details {
  flex-grow: 1;
  margin-left: 15px;
}

.comment-actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.textarea-custom {
  resize: none;
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 10px;
}

.button-custom {
  padding: 5px 10px;
  margin-top: 5px;
  background-color: #0b171c;
  color: white;
  border: none;
  cursor: pointer;
}

.button-custom:hover {
  background-color: #004f2e;
}

.border1 {
  border: 2px solid red;
}

.error-text {
  color: red;
  font-style: italic;
}

.hidden {
  visibility: hidden;
}

.char-count {
  font-size: 0.9em;
  color: #666;
  margin-top: 5px;
}

.error {
  color: red;
}